.html {
    background-color: #00CED1;
}

.titles {
    font-family: fantasy, sans-serif;
    text-align: center;
}

.buttons {
    text-align: center;
}

#results {
    text-align: center;
}

#scores {
    text-align: center;
}